In [1]:
import geopandas as gpd
import numpy as np

In [2]:
gdf = gpd.read_file('./geo_data/Kochi_Roadways.shp')

In [3]:
gdf

,TYPE,NAME,geometry
0,None,Towards Agatti Island,"LINESTRING (632573.958 1102188.348, 625222.728..."
1,None,Towards Kadmat Island,"LINESTRING (625556.173 1104640.11, 632573.958 ..."
2,None,Towards Minicoy Island,"LINESTRING (632573.958 1102188.348, 631460.191..."
3,tertiary,None,"LINESTRING (628580.101 1126536.317, 628430.103..."
4,tertiary,None,"LINESTRING (629594.552 1119811.252, 629575.463..."
...,...,...,...
1117,unclassified,None,"LINESTRING (662109.994 1118014.144, 662156.668..."
1118,unclassified,None,"LINESTRING (662292.988 1118534.9, 662300.301 1..."
1119,unclassified,None,"LINESTRING (662511.134 1103540.394, 662503.1 1..."
1120,unclassified,None,"LINESTRING (662540.129 1103895.795, 662525.071..."
1121,road,To Kodanadu,"LINESTRING (665464.043 1120005.984, 665409.507..."

In [4]:
values_list = [4,6,8,10,15,20]

In [5]:
gdf['road_width'] = np.random.choice(values_list, size=len(gdf))

In [6]:
gdf["TYPE"].unique()

array([None, 'tertiary', 'residential', 'primary', 'unclassified',
       'secondary', 'trunk', 'road', 'service', 'path', 'pedestrian',
       'footway', 'track', 'primary_link', 'cycleway', 'construction',
       'tertiary_link', 'steps', 'living_street'], dtype=object)

In [7]:
gdf["TYPE"] = gdf["TYPE"].fillna("unclassified")
gdf["TYPE"].unique()

array(['unclassified', 'tertiary', 'residential', 'primary', 'secondary',
       'trunk', 'road', 'service', 'path', 'pedestrian', 'footway',
       'track', 'primary_link', 'cycleway', 'construction',
       'tertiary_link', 'steps', 'living_street'], dtype=object)

In [8]:
gdf.head()

,TYPE,NAME,geometry,road_width
0,unclassified,Towards Agatti Island,"LINESTRING (632573.958 1102188.348, 625222.728...",8
1,unclassified,Towards Kadmat Island,"LINESTRING (625556.173 1104640.11, 632573.958 ...",20
2,unclassified,Towards Minicoy Island,"LINESTRING (632573.958 1102188.348, 631460.191...",20
3,tertiary,None,"LINESTRING (628580.101 1126536.317, 628430.103...",15
4,tertiary,None,"LINESTRING (629594.552 1119811.252, 629575.463...",15

In [9]:
gdf.to_file('./geo_data/Kochi_Roadways_with_width.gpkg', driver='GPKG', layer='kochi_roadways')

# Push data to POSTGIS

```
from sqlalchemy import create_engine

# create DB variable
db_user = 'your_username'
db_password = 'your_password'
db_host = 'localhost'
db_port = '5432'
db_name = 'your_database_name'

engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# Save gdf to Postgis
gdf.to_postgis(name='your_table_name', con=engine, if_exists='replace', index=False)

```

For best practice we recomend to use **.env** file for DB credential. If you push your notebook to public repo your credential will no expose public.
Please follow best practice for your data security

Go to your folder and create .env file. You can use Vscode or other code editor.

Create below settings.

```
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_database_name
```
With the below code, system will read your credential to create connection with DB.

```
import os
from dotenv import load_dotenv
import geopandas as gpd
from sqlalchemy import create_engine

# Upload .env  into system
load_dotenv()

# assign .env variable to python variable
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_name = os.getenv('DB_NAME')

#  Create SQLAlchemy engine
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# Read GeoDataFrame
gdf = gpd.read_file('path/to/your/shapefile.shp')

# Pust GeoDataFrame to POSTGIS
gdf.to_postgis(name='your_table_name', con=engine, if_exists='replace', index=False)

print("Success")


```